<!DOCTYPE html>
<html>
    <head>
        <title>{{id}}: {{label}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="900">
        <link rel="stylesheet" href="../styles.css">

        {% macro label_wrapper(img_name, label) %}
        <li><a class="workflow" href="{{ img_name }}.pdf"><img alt="{{ label }}"
                    {% for k, v in kwargs.iteritems() %}
                        {{ k }}="{{ v }}"
                    {% endfor %}
                src="{{ img_name }}.png"/>
                <span class="text-content"><span>
                    {{ label }}
                </span></span>
            </a></li>
        {% endmacro %}

        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script>
            function src_replace(cls, a, b) {
                $("img." + cls).attr("src", function(idx, src) {
                    return src.replace(a, b);
                });
                $("img." + cls).closest("a").attr("href", function(idx, src) {
                    return src.replace(a, b);
                });
            };

            var last_workflow = 'all';

            $(document).ready(function() {
                $("div.good.more").hide();
                $("div.merge.more").hide();
                $("div.foreman.more").hide();

                $("select#categories").change(function() {
                    var current = $(this).val();
                    window.location.href = '../' + current;
                });

                $("a#goodmore").bind('click', function() {
                    $("div.good.more").slideToggle();
                    $("span#goodmore").toggleClass("depressed");
                    $("span#goodmore").toggleClass("pressed");
                    return false;
                });

                $("a#mergemore").bind('click', function() {
                    $("div.merge.more").slideToggle();
                    $("span#mergemore").toggleClass("depressed");
                    $("span#mergemore").toggleClass("pressed");
                    return false;
                });

                $("a#foremanmore").bind('click', function() {
                    $("div.foreman.more").slideToggle();
                    $("span#foremanmore").toggleClass("depressed");
                    $("span#foremanmore").toggleClass("pressed");
                    return false;
                });

                $("a#mergehist").bind('click', function() {
                    src_replace("merge", "-prof", "-hist");
                    $("span#mergehist.left").removeClass("depressed");
                    $("span#mergehist.left").addClass("pressed");
                    $("span#mergehist.right").removeClass("pressed");
                    $("span#mergehist.right").addClass("depressed");
                    return false;
                });
                $("a#mergeprof").bind('click', function() {
                    src_replace("merge", "-hist", "-prof");
                    $("span#mergehist.left").removeClass("pressed");
                    $("span#mergehist.left").addClass("depressed");
                    $("span#mergehist.right").removeClass("depressed");
                    $("span#mergehist.right").addClass("pressed");
                    return false;
                });

                $("a#goodhist").bind('click', function() {
                    src_replace("good", "-prof", "-hist");
                    $("span#goodhist.left").removeClass("depressed");
                    $("span#goodhist.left").addClass("pressed");
                    $("span#goodhist.right").removeClass("pressed");
                    $("span#goodhist.right").addClass("depressed");
                    return false;
                });
                $("a#goodprof").bind('click', function() {
                    src_replace("good", "-hist", "-prof");
                    $("span#goodhist.right").removeClass("depressed");
                    $("span#goodhist.right").addClass("pressed");
                    $("span#goodhist.left").removeClass("pressed");
                    $("span#goodhist.left").addClass("depressed");
                    return false;
                });
            });
        </script>
        <nav>
            <ul>
                <li class="inactive" style="float:left;">
                    <span class="lobster" style="display:block;transform: scale(1.5) translate(.5em,0);">Lobster</span>
                </li>
                <li><a href="..">Project Overview</a></li>
                <li class="active">
                    Summary for
                    <select id="categories">
                        <option value="" disabled>change category</option>
                        <option value="all" {% if label == 'all categories' %}selected="selected"{% endif %}>all categories</option>
                        {% for c in categories %}
                        <option value="{{ c }}"{% if label == c %} selected="selected"{% endif %}>{{ c }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="inactive" style="float:right;line-height:0em;">
                    <a href="https://github.com/matz-e/lobster"><img alt="GitHub logo" src="../gh.png" style="height: 2em;width: 2em;transform: translate(0,2.5px);"></img></a>
                </li>
            </ul>
        </nav>
    </head>
    <body>
        <h1 id="navwflow">Workflow Summary</h1>
        <table class="fancy">
	    <col>
	    <colgroup span="1"></colgroup>
	    <colgroup span="3"></colgroup>
	    <colgroup span="7"></colgroup>
	    <colgroup span="1"></colgroup>
	    <colgroup span="1"></colgroup>
            <tr>
	        <th colspan="1" scope="colgroup" class="coldivider"></th>
	        <th colspan="3" scope="colgroup" class="topcolgroup">Events</th>
	        <th colspan="7" scope="colgroup" class="topcolgroup">Units</th>
	        <th colspan="2" scope="colgroup"></th>
		{% if jsons|length > 0 %}<th colspan="1" scope="colgroup"></th>{% endif %}
            </tr>
	    <tr>
		<th class="coldivider">category</th>
	        <th>total</th>
	        <th>read</th>
	        <th class="coldivider">written</th>
		<th>total</th>
		<th>unmasked</th>
		<th>written</th>
		<th>merged</th>
		<th>
		    <div class="tooltip">stuck
		        <span class="tooltiptext">
			    Units which cannot be attempted because their input is a unit in a parent workflow that failed
			    or was skipped.

			    If you want to increase skipping/failure thresholds so that the parent units are attempted
			    again, run <span class="code"><br>lobster configure /my/working/directory<br></span> and increase
			    <span class="code">threshold_for_failure</span> and/or <span class="code">threshold_for_skipping</span>
			    in the <span class="code">lobster.core.config.AdvancedOptions</span> section. If the parent unit
			    finishes successfully, the stuck units will automatically be attempted. For more information
			    see the documentation on
			    <a href=http://lobster.readthedocs.io/en/latest/run.html#changing-configuration-options>updating</a>
			    your configuration after the start of a run, and advanced configuration
			    <a href=http://lobster.readthedocs.io/en/latest/config.html#lobster.core.config.AdvancedOptions>options</a>.
		        </span>
	            </div>
	        </th>
                <th>
		    <div class="tooltip">failed
		        <span class="tooltiptext">
			    Units for which the executable has not exited successfully more than
			    <span class="code">threshold_for_failure</span>.<br><br>

			    If you want to increase the failure threshold so that these units are attempted
			    again, run <span class="code">lobster configure /my/working/directory</span> and increase
			    <span class="code">threshold_for_failure</span>
			    in the <span class="code">lobster.core.config.AdvancedOptions</span> section. For more information
			    see the documentation on
			    <a href=http://lobster.readthedocs.io/en/latest/run.html#changing-configuration-options>updating</a>
			    your configuration after the start of a run, and advanced configuration
			    <a href=http://lobster.readthedocs.io/en/latest/config.html#lobster.core.config.AdvancedOptions>options</a>.
		        </span>
	            </div>
	        </th>
                <th class=coldivider>
		    <div class="tooltip">skipped
		        <span class="tooltiptext">
			    Units for which accessing the input file has failed more than
			    <span class="code">threshold_for_skipping</span>.<br><br>

			    If you want to increase the skipping threshold so that these units are attempted
			    again, run <span class="code">lobster configure /my/working/directory</span> and increase
			    <span class="code">threshold_for_skipping</span>
			    in the <span class="code">lobster.core.config.AdvancedOptions</span> section. For more information
			    see the documentation on
			    <a href=http://lobster.readthedocs.io/en/latest/run.html#changing-configuration-options>updating</a>
			    your configuration after the start of a run, and advanced configuration
			    <a href=http://lobster.readthedocs.io/en/latest/config.html#lobster.core.config.AdvancedOptions>options</a>.
		        </span>
	            </div>
	        </th>
                <th>Progress</th>
                <th>Merged</th>
                {% if jsons|length > 0 %}<th>JSON</th>{% endif %}
            </tr>
            {% for row in summary %}
            {% if loop.revindex == 1 %}
            <tr class="footer">
            {% else %}
            <tr{{ loop.cycle('', ' class="alt"') }}>
            {% endif %}
                {% for cell in row %}
                {% if loop.index != 1 and loop.revindex > 2 %}{% set cell = "{0:,}".format(cell).replace(",", "&nbsp;") %}{% endif %}
                {% if loop.index != 1 %}{% set attr=' class="right"' %}{% else %}{% set attr='' %}{% endif %}
                <td{{attr}}>
                    {% if loop.revindex == 3 and cell != '0' and row != summary[-1] %}
                        <a href="../logs/skipped_{{row[0]}}.txt">{{cell}}</a>
                    {% elif loop.revindex == 4 and cell != '0' and row != summary[-1] %}
                        <a href="../logs/failed_{{row[0]}}">{{cell}}</a>
                    {% else %}
                        {{ cell }}
                    {% endif %}
                </td>
                    {% if loop.revindex == 1 and jsons|length > 0 %}
                        {% if row == summary[-1] %}
                        <td class="footer"></td>
                        {% else %}
                        <td>
                            {% for path, name in jsons[row[0]] %}
                            <a href="../{{ path }}">{{ name }}</a>
                            {% endfor %}
                        </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <h1 id="navtasks">Task Summary</h1>
        <div class="sidebar">
        {% if good_tasks or bad_tasks %}
            <a class="workflow" href="time-pie.pdf"><img class="side" alt="" src="time-pie.png"/></a>
        {% endif %}
        </div>
        <div class="maincontent">
            <a class="workflow" href="tasks-plot.pdf"><img alt="" src="tasks-plot.png"/></a>
        {% if good_tasks or bad_tasks %}
            <a class="workflow" href="all-tasks-hist.pdf"><img alt="" src="all-tasks-hist.png"/></a>
        {% if good_tasks %}
            <h3>Efficiency</h3>
            <a href="cpu-wall-hist.pdf"><img alt="" src="cpu-wall-hist.png"/></a>
            <a href="cpu-wall-int-hist.pdf"><img alt="" src="cpu-wall-int-hist.png"/></a>
        {% endif %}
        {% if good_tasks or bad_tasks %}
	    <h3>Transfer Protocol Summary</h3>
    	    <table class="fancy">
	    <tr>
	        <th>Protocol</th>
	        <th>Stage-in Success</th>
	        <th>Stage-in Failure</th>
	        <th>Stageout Success</th>
	        <th>Stageout Failure</th>
	    </tr>
	    {% for protocol in transfers %}
	    <tr {{ loop.cycle('', 'class="alt"') }}>
	        <td>{{ protocol }}</td>
	        <td>{{ transfers[protocol]['stage-in success'] }}</td>
	        <td>{{ transfers[protocol]['stage-in failure'] }}</td>
	        <td>{{ transfers[protocol]['stageout success'] }}</td>
	        <td>{{ transfers[protocol]['stageout failure'] }}</td>
	    </tr>
	    {% endfor %}
	    </table>
        {% endif %}
        {% endif %}
        </div>

        <h2 id="navgood">Successful Tasks</h2>
        {% if good_tasks %}
        <div class="sidebar">
            <a class="workflow" href="good-time-detail-pie.pdf"><img class="side" alt="" src="good-time-detail-pie.png"/></a>
        </div>
        <div class="maincontent">
            <h3>Task Resources Utilized</h3>
            <a class="workflow" href="good-memory-hist.pdf"><img alt="" src="good-memory-hist.png"/></a>
            <a class="workflow" href="good-workdir-footprint-hist.pdf"><img alt="" src="good-workdir-footprint-hist.png"/></a>
            <a class="workflow" href="good-cores-hist.pdf"><img alt="" src="good-cores-hist.png"/></a>
            <a class="workflow" href="good-network-bandwidth-prof.pdf"><img alt="" src="good-network-bandwidth-prof.png"/></a>
            <a class="workflow" href="good-exe-efficiency-hist.pdf"><img alt="" src="good-exe-efficiency-hist.png"/></a>
            <a class="workflow" href="good-exhausted-attempts-prof.pdf"><img alt="" src="good-exhausted-attempts-prof.png"/></a>
            <h3>Task Resources Allocated</h3>
            <a class="workflow" href="good-allocated-memory-prof.pdf"><img alt="" src="good-allocated-memory-prof.png"/></a>
            <a class="workflow" href="good-allocated-disk-prof.pdf"><img alt="" src="good-allocated-disk-prof.png"/></a>
            <a class="workflow" href="good-allocated-cores-prof.pdf"><img alt="" src="good-allocated-cores-prof.png"/></a>
            <a class="workflow" href="good-tasksize-prof.pdf"><img alt="" src="good-tasksize-prof.png"/></a>
            <h3>Task Timing</h3>
            <p>
                <span id="goodhist" class="button left pressed"><a href="#" id="goodhist">statistics</a></span><span id="goodhist" class="button right depressed"><a href="#" id="goodprof">profile</a></span>
                <span id="goodmore" class="button depressed"><a href="#" id="goodmore">show timeline breakdown</a></span>
            </p>
            <div class="good more"><ul class="img-list">
                {{ label_wrapper('good-eviction-hist', 'Time lost to eviction', class="good") }}
                {{ label_wrapper('good-exhaustion-hist', 'Time lost to exceeding allocated resources', class="good") }}
            </ul></div>
            <div><ul class="img-list">
                {{ label_wrapper('good-runtime-hist', 'Time from wrapper start to processing end', class='good') }}
                {{ label_wrapper('good-overhead-hist', 'Time from wrapper start to begin processing the first event', class='good') }}
            </ul></div>
            <div class="good more"><ul class="img-list">
                {{ label_wrapper('good-transfer-in-hist', 'Time to transfer input files', class='good') }}
                {{ label_wrapper('good-startup-hist', 'Time between completing the input file transfer and starting the wrapper', class='good') }}
                {{ label_wrapper('good-stage-in-hist', 'Time to stage in all additional input files', class='good more') }}
                {{ label_wrapper('good-prologue-hist', 'Time to run the prologue command', class='good more') }}
                {{ label_wrapper('good-setup-release-hist', 'Time to set up release and initialize cms environment', class='good') }}
            </ul></div>
            <div><ul class="img-list">
                {{ label_wrapper('good-processing-hist', 'Time the executable took to run', class='good') }}
            </ul></div>
            <div class="good more"><ul class="img-list">
                {{ label_wrapper('good-epilogue-hist', 'Time to run the epilogue command', class='good more') }}
                {{ label_wrapper('good-stage-out-hist', 'Time to stage out all output files', class='good more') }}
                {{ label_wrapper('good-transfer-out-wait-hist', 'Time between stageout completion and WQ task.receive_output_start', class='good more') }}
                {{ label_wrapper('good-transfer-out-wq-hist', 'Time between WQ task.receive_output_start and task.receive_output_finish', class='good more') }}
            </ul></div>
        </div>
        {% else %}
        <p>No successful tasks yet!</p>
        {% endif %}

        <h2 id="navmerge">Merge tasks</h2>
        {% if merge_tasks %}
        <div class="sidebar">
            <a class="workflow" href="merge-time-detail-pie.pdf"><img class="side" alt="" src="merge-time-detail-pie.png"/></a>
        </div>
        <div class="maincontent">
            <h3>Task Resources</h3>
            <a class="workflow" href="merge-memory-hist.pdf"><img alt="" src="merge-memory-hist.png"/></a>
            <a class="workflow" href="merge-workdir-footprint-hist.pdf"><img alt="" src="merge-workdir-footprint-hist.png"/></a>
            <a class="workflow" href="merge-cores-hist.pdf"><img alt="" src="merge-cores-hist.png"/></a>
            <a class="workflow" href="merge-network-bandwidth-prof.pdf"><img alt="" src="merge-network-bandwidth-prof.png"/></a>
            <a class="workflow" href="merge-exe-efficiency-hist.pdf"><img alt="" src="merge-exe-efficiency-hist.png"/></a>
            <a class="workflow" href="merge-exhausted-attempts-prof.pdf"><img alt="" src="merge-exhausted-attempts-prof.png"/></a>
            <h3>Task Timing</h3>
            <p>
                <span id="mergehist" class="button left pressed"><a href="#" id="mergehist">statistics</a></span><span id="mergehist" class="button right depressed"><a href="#" id="mergeprof">profile</a></span>
                <span id="mergemore" class="button depressed"><a href="#" id="mergemore">show timeline breakdown</a></span>
            </p>
            <div class="merge more"><ul class="img-list">
                {{ label_wrapper('merge-eviction-hist', 'Time lost to eviction', class="merge") }}
                {{ label_wrapper('merge-exhausted-hist', 'Time lost to exceeding allocated resources', class="merge") }}
            </ul></div>
            <div><ul class="img-list">
                {{ label_wrapper('merge-runtime-hist', 'Time from wrapper start to processing end', class='merge') }}
                {{ label_wrapper('merge-overhead-hist', 'Time from wrapper start to begin processing the first event', class='merge') }}
            </ul></div>
            <div class="merge more"><ul class="img-list">
                {{ label_wrapper('merge-transfer-in-hist', 'Time to transfer input files', class='merge') }}
                {{ label_wrapper('merge-startup-hist', 'Time between completing the input file transfer and starting the wrapper', class='merge') }}
                {{ label_wrapper('merge-stage-in-hist', 'Time to stage in all additional input files', class='merge more') }}
                {{ label_wrapper('merge-prologue-hist', 'Time to run the prologue command', class='merge more') }}
                {{ label_wrapper('merge-setup-release-hist', 'Time to set up release and initialize cms environment', class='merge') }}
            </ul></div>
            <div><ul class="img-list">
                {{ label_wrapper('merge-processing-hist', 'Time the executable took to run', class='merge') }}
            </ul></div>
            <div class="merge more"><ul class="img-list">
                {{ label_wrapper('merge-epilogue-hist', 'Time to run the epilogue command', class='merge more') }}
                {{ label_wrapper('merge-stage-out-hist', 'Time to stage out all output files', class='merge more') }}
                {{ label_wrapper('merge-transfer-out-wait-hist', 'Time between stageout completion and WQ task.receive_output_start', class='merge more') }}
                {{ label_wrapper('merge-transfer-out-wq-hist', 'Time between WQ task.receive_output_start and task.receive_output_finish', class='merge more') }}
            </ul></div>
        </div>
        {% else %}
        <p>No successful merge tasks yet!</p>
        {% endif %}

        <h2 id="navbad">Failed tasks</h2>
        {% if bad_tasks %}
        <div class="sidebar">
            <a class="workflow" href="failed-pie.pdf"><img class="side" alt="" src="failed-pie.png"/></a>
        </div>
        <div class="maincontent">
            <p>A mapping of the exit codes can be found in the <a href="http://lobster.readthedocs.org/en/latest/monitor.html#task-exit-codes">documentation</a>.</p>
            <h3>Failure Modes</h3>
            <a class="workflow" href="failed-tasks-hist.pdf"><img alt="" src="failed-tasks-hist.png"/></a>
            <h3>Task Resources</h3>
            <a class="workflow" href="failed-memory-hist.pdf"><img alt="" src="failed-memory-hist.png"/></a>
            <a class="workflow" href="failed-workdir-footprint-hist.pdf"><img alt="" src="failed-workdir-footprint-hist.png"/></a>
            <a class="workflow" href="failed-cores-hist.pdf"><img alt="" src="failed-cores-hist.png"/></a>
            <a class="workflow" href="failed-network-bandwidth-prof.pdf"><img alt="" src="failed-network-bandwidth-prof.png"/></a>
            <a class="workflow" href="failed-exhausted-attempts-prof.pdf"><img alt="" src="failed-exhausted-attempts-prof.png"/></a>
            <h3>Task Logs</h3>
            <table class="fancy">
                <tr>
                    <th><a href="http://lobster.readthedocs.org/en/latest/monitor.html#task-exit-codes">Exit code</a></th>
                    <th>Count</th>
                    <th colspan="10" style="text-align: center;">Samples</th>
                </tr>
                {% for code, values in bad_logs|dictsort %}
                <tr {{ loop.cycle('', 'class="alt"') }}>
                    <td>{{ code }}</td>
                    <td>{{ values[0] }}</td>
                    {% for id in values[1]|reverse %}
                    <td>{% if id != "" %}<a href="../logs/{{ id }}.log">{{ id }}</a>{% endif %}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <h3>Hosts with Task Failures</h3>
            <table class="fancy">
                <tr>
                    <th rowspan="2">Hostname</th>
                    <th colspan="{{ bad_hosts[0]|length }}" style="text-align: center;"><a href="http://lobster.readthedocs.org/en/latest/monitor.html#task-exit-codes">Exit Codes</a></th>
                </tr>
                {% for row in bad_hosts %}
                {% set outer_loop = loop %}
                {% if loop.index == 1 %}<tr>{% else %}<tr {{ loop.cycle('class="alt"', '') }}>{% endif %}
                    {% for item in row %}
                    {% if outer_loop.index == 1 %}<th>{% else %}<td>{% endif %}
                        {{ item }}
                    {% if outer_loop.index == 1 %}</th>{% else %}</td>{% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>No failed tasks yet!</p>
        {% endif %}
    </body>
</html>
