<!DOCTYPE html>
<html>
    <head>
        <title>{{id}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="900">
        <link rel="stylesheet" href="styles.css">

        {% macro label_wrapper(img_name, label) %}
        <li><a class="workflow" href="{{ img_name }}"><img alt="{{ label }}"
                    {% for k, v in kwargs.iteritems() %}
                        {{ k }}="{{ v }}"
                    {% endfor %}
                src="{{ img_name }}"/>
                <span class="text-content"><span>
                    {{ label }}
                </span></span>
            </a></li>
        {% endmacro %}

        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script>
            $(document).ready(function() {
                $("select#categories").change(function() {
                    var current = $(this).val();
                    window.location.href = current;
                });
            });
        </script>

        <nav>
            <ul>
                <li class="inactive" style="float:left;">
                    <span class="lobster" style="display:block;transform: scale(1.5) translate(.5em,0);">Lobster</span>
                </li>
                <li class="active"><a href="#">Project Overview</a></li>
                <li>Summary for
                    <select id="categories">
                        <option value="" selected="selected" disabled>select…</option>
                        <option value="all">all categories</option>
                        {% for label in categories %}
                        <option value="{{ label }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="inactive" style="float:right;line-height:0em;">
                    <a href="https://github.com/matz-e/lobster"><img alt="GitHub logo" src="gh.png" style="height: 2em;width: 2em;transform: translate(0,2.5px);"></img></a>
                </li>
            </ul>
        </nav>
    </head>
    <body>
        <h1 id="navover">Summary for Project “{{id}}”</h1>
        <table>
            <tr>
                <td>Project start time: </td>
                <td>{{run_starttime|datetime}}</td>
            </tr>
            {% if run_starttime != plot_starttime %}
            <tr>
                <td>Plot start time: </td>
                <td>{{plot_starttime|datetime}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Project end time: </td>
                <td>{{run_endtime|datetime}}</td>
            </tr>
            {% if run_endtime != plot_endtime %}
            <tr>
                <td>Plot end time: </td>
                <td>{{plot_endtime|datetime}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Plots updated: </td>
                <td>{{plot_time|datetime}}</td>
            </tr>
        </table>

        <p><a href="config.py">Configuration</a></p>

        <h1 id="navwflow">Category Summary</h1>
        <table class="fancy">
            <tr>
                <th>category</th>
		<th>total<br>events</th>
		<th>read<br>events</th>
		<th>written<br>events</th>
		<th>total<br>units</th>
		<th>unmasked<br>units</th>
		<th>written<br>units</th>
		<th>merged<br>units</th>
		<th>
		    <div class="tooltip">stuck
		        <span class="tooltiptext">
			    Units which were failed or skipped in upstream workflows, and would need to be completed
			    before the dependent units in this workflow can be processed.<br><br>

			    If you want to increase skipping/failure thresholds so that these units are attempted
			    again, run <span class="code"><br>lobster configure /my/working/directory<br></span> and increase
			    <span class="code">threshold_for_failure</span> and/or <span class="code">threshold_for_skipping</span>
			    in the <span class="code">lobster.core.config.AdvancedOptions</span> section. For more information
			    see the documentation on
			    <a href=http://lobster.readthedocs.io/en/latest/run.html#changing-configuration-options>updating</a>
			    your configuration after the start of a run, and advanced configuration
			    <a href=http://lobster.readthedocs.io/en/latest/config.html#lobster.core.config.AdvancedOptions>options</a>.
		        </span>
	            </div>
	        </th>
                <th>
		    <div class="tooltip">failed<br>units
		        <span class="tooltiptext">
			    Units for which the executable has not exited successfully more than
			    <span class="code">threshold_for_failure</span>.<br><br>

			    If you want to increase the failure threshold so that these units are attempted
			    again, run <span class="code">lobster configure /my/working/directory</span> and increase
			    <span class="code">threshold_for_failure</span>
			    in the <span class="code">lobster.core.config.AdvancedOptions</span> section. For more information
			    see the documentation on
			    <a href=http://lobster.readthedocs.io/en/latest/run.html#changing-configuration-options>updating</a>
			    your configuration after the start of a run, and advanced configuration
			    <a href=http://lobster.readthedocs.io/en/latest/config.html#lobster.core.config.AdvancedOptions>options</a>.
		        </span>
	            </div>
	        </th>
                <th>
		    <div class="tooltip">skipped<br>units
		        <span class="tooltiptext">
			    Units for which accessing the input file has failed more than
			    <span class="code">threshold_for_skipping</span>.<br><br>

			    If you want to increase the skipping threshold so that these units are attempted
			    again, run <span class="code">lobster configure /my/working/directory</span> and increase
			    <span class="code">threshold_for_skipping</span>
			    in the <span class="code">lobster.core.config.AdvancedOptions</span> section. For more information
			    see the documentation on
			    <a href=http://lobster.readthedocs.io/en/latest/run.html#changing-configuration-options>updating</a>
			    your configuration after the start of a run, and advanced configuration
			    <a href=http://lobster.readthedocs.io/en/latest/config.html#lobster.core.config.AdvancedOptions>options</a>.
		        </span>
	            </div>
	        </th>
                <th>progress</th>
                <th>merged</th>
            </tr>
            {% for row in summary %}
            {% if loop.revindex == 1 %}
            <tr class="footer">
            {% else %}
            <tr{{ loop.cycle('', ' class="alt"') }}>
            {% endif %}
                {% for cell in row %}
                {% if loop.index != 1 and loop.revindex > 2 %}{% set cell = "{0:,}".format(cell).replace(",", "&nbsp;") %}{% set attr=' class="right"' %}{% else %}{% set attr='' %}{% endif %}
                    {% if loop.index == 1 and cell != 'Total' %}
                    <td><a href="{{ cell }}">{{ cell }}</a></td>
                    {% else %}
                    <td{{attr}}>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <h1 id="navtasks">Task Summary</h1>
        <div class="sidebar">
        {% if good_tasks or bad_tasks %}
            <a class="workflow" href="all/time-pie.pdf"><img alt="" src="all/time-pie.png"/></a>
        {% endif %}
        </div>
        <div class="maincontent">
            <a class="workflow" href="tasks-plot.pdf"><img alt="" src="tasks-plot.png"/></a>
        {% if good_tasks or bad_tasks %}
            <a class="workflow" href="all/all-tasks-hist.pdf"><img alt="" src="all/all-tasks-hist.png"/></a>
        {% if good_tasks %}
            <h3>Efficiency</h3>
            <a href="all/cpu-wall-hist.pdf"><img alt="" src="all/cpu-wall-hist.png"/></a>
            <a href="all/cpu-wall-int-hist.pdf"><img alt="" src="all/cpu-wall-int-hist.png"/></a>
            <a href="all/cpu-cores-hist.pdf"><img alt="" src="all/cpu-cores-hist.png"/></a>
            <a href="all/cpu-cores-int-hist.pdf"><img alt="" src="all/cpu-cores-int-hist.png"/></a>
        {% endif %}
        {% endif %}
        </div>

        <h1 id="navlobster"><span class="lobster">Lobster</span> Summary</h1>
        <div class="sidebar" style="padding:0">
            <p></p>
        </div>
        <div class="maincontent">
            <h3>Tasks and Workers</h3>
            <a href="all/workers-plot.pdf"><img alt="" src="all/workers-plot.png"/></a>
            <a href="all/turnover-hist.pdf"><img alt="" src="all/turnover-hist.png"/></a>
            <a href="all/worker-deaths-hist.pdf"><img alt="" src="all/worker-deaths-hist.png"/></a>
            <a href="all/tasks-plot.pdf"><img alt="" src="all/tasks-plot.png"/></a>
            <h3>Resources</h3>
            <a href="all/cores-plot.pdf"><img alt="" src="all/cores-plot.png"/></a>
            <a href="all/memory-plot.pdf"><img alt="" src="all/memory-plot.png"/></a>
            <a href="all/disk-plot.pdf"><img alt="" src="all/disk-plot.png"/></a>
            <h3>Time Breakdown</h3>
            <a href="all/lobster-fraction-stack.pdf"><img alt="" src="all/lobster-fraction-stack.png"/></a>
            <a href="all/wq-fraction-stack.pdf"><img alt="" src="all/wq-fraction-stack.png"/></a>
            <a href="all/return-fraction-stack.pdf"><img alt="" src="all/return-fraction-stack.png"/></a>
            <h3>Output Performance</h3>
            {% if good_tasks %}
            <a href="all/output-hist.pdf"><img alt="" src="all/output-hist.png"/></a>
            <a href="all/output-total-plot.pdf"><img alt="" src="all/output-total-plot.png"/></a>
            <a href="units-total-plot.pdf"><img alt="" src="units-total-plot.png"/></a>
            {% else %}
            <p>No output yet!</p>
            {% endif %}
        </div>

        {% if foremen|length > 0 %}
        <h1>Foreman Summary</h1>
        <span id="foremanmore" class="button depressed"><a href="#" id="foremanmore">Individual Foreman Summaries</a></span>
        <div style="margin-left:410px;">
            <a href="foreman-tasks-plot.pdf"><img alt="" src="foreman-tasks-plot.png"/></a>
            <a href="foreman-idle-plot.pdf"><img alt="" src="foreman-idle-plot.png"/></a>
            <a href="foreman-efficiency-plot.pdf"><img alt="" src="foreman-efficiency-plot.png"/></a>
        </div>

        {% for foreman in foremen %}
        <div class="foreman more"><h1>{{ foreman }} summary</h1></div>
        <div class="foreman more" style="float:left">
            <a href="{{ foreman }}-time-pie.pdf"><img alt="" src="{{ foreman }}-time-pie.png"/></a>
        </div>
        <div class="foreman more" style="margin-left:410px;"><ul class = "img-list">
            <a href="{{ foreman }}-workers-plot.pdf"><img alt="" src="{{ foreman }}-workers-plot.png"/></a>
            <a href="{{ foreman }}-turnover-hist.pdf"><img alt="" src="{{ foreman }}-turnover-hist.png"/></a>
        </ul></div>
        {% endfor %}
        {% endif %}
    </body>
</html>
