@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic);

body {
    font-family:"Trebuchet MS";
    margin: 0 auto;
    margin-top: 75px;
    padding: 0;
    width: 100%;
    max-width: 1240px;
}

nav {
    background-color: #aaa;

    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 50px;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 1000;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%; */

    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1;
    display: block;
    list-style-type: none;

    padding-left: 1em;
    padding-right: 1em;

    /* text-align: center; */
}

nav > ul > li > a {
    color: #555;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #000;
}

nav > ul > li a + div {
    background-color: #aaa;
    display: none;
    position: absolute;
    padding-top: 1em;
}

nav > ul > li:hover a + div {
    display: block;
}

nav > ul > li a + div > ul {
    display: flex;
    flex-direction: column;
    /* margin: 0; */
    padding: 0;
    /* width: 100%; */
}

nav > ul > li a + div > ul > li {
    /* flex: 1 1 100%; */
    display: block;
    /* margin: 0; */
    padding: .5em;
    /* text-align: center; */
}

nav > ul > li a + div > ul > li > a {
    color: #555;
    text-decoration: none;
}

nav > ul > li a + div > ul > li > a:hover {
    color: #000;
}

.lobster {font-family: 'Lobster Two', cursive;}

@media screen and (min-width: 1240px) {
    .sidebar {
        float: left;
        padding: 10px;
        width: 400px;
    }

    .maincontent {
        float: left;
        padding: 10px;
        width: 800px;
        max-width: 800px;
    }
}
@media screen and (max-width: 1239px) {
    .sidebar {
        padding: 10px;
        width: 400px;
        margin: auto;
    }

    .maincontent {
        padding: 10px;
        width: 800px;
        max-width: 800px;
        margin: auto;
    }

    body {
        width: 800px;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    clear: both;
    border-bottom: solid 1px;
}

h1:target h2:target {
    padding-top: 50px;
}

table.fancy {
    border-collapse:collapse;
}

table.fancy td, th {
    border:1px solid #333437;
    padding:3px 7px 2px 7px;
}

table.fancy th, td.footer {
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#454648;
    color:#ffffff;
}

table.fancy tr.alt td {
    color:#000000;
    background-color:#B4B8C1;
}

ul.img-list {
    padding: 0;
}

ul.img-list li {
    display: inline-block;
    position: relative;
}

ul.img-list img {
    border-radius: 15px;
}

span.text-content {
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
    color: white;
    display: table;
    font-size: 1.5em;
    height: 150px;
    left: 15px;
    position: absolute;
    top: -5px;
    width: 750px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

ul.img-list li:hover span.text-content {
    opacity: 1;
}

.button {
    border: 1px solid #666;
    border-radius: .5em;
    padding: .3em;
}

.button a {
    color: black;
    text-decoration: none;
}

.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.depressed {
    box-shadow: 0px -1em 5px 0px rgba(0,0,0,0.08) inset;
}

.pressed {
    box-shadow: 0px 1em 10px 0px rgba(0,0,0,0.28) inset;
}
