@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700italic);
@import url(https://code.cdn.mozilla.net/fonts/fira.css);

body {
    font-family: "Fira Sans", sans-serif;
    color: #222;
    margin: 0 auto;
    margin-top: 5em;
    padding: 0;
    width: 100%;
    max-width: 1240px;
}

nav {
    background-color: #eee;
    border-bottom: solid #aaa 2px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* min-width: 100%; */
    /* min-height: 50px; */

    margin: 0;
    padding: 0;

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */

    z-index: 1000;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    font-size: 1.2em;
    line-height: 2em;
    padding: .25em;
}

nav li.active {
    font-weight: bold;
    border-bottom: 5px solid #aaa
}

nav select {
    font-family: "Fira Sans", sans-serif;
    font-size: .8em;
}

nav li a {
    text-decoration: none;
    color: #333;
    display: block;
}

nav li:hover {
    border-bottom: 5px solid #aaa;
}

nav li.inactive {
    padding-left: 1em;
    padding-right: 1em;
}

nav li.inactive:hover {
    border-bottom: 0;
}

.lobster {font-family: 'Lobster Two', cursive;}

img {
    max-width: 800px;
    width: 100%;
}

img.side {
    max-width: 400px;
    width: 100%;
}

@media screen and (min-width: 1240px) {
    .sidebar {
        float: left;
        padding: 10px;
        width: 34%;
        max-width: 400px;
    }

    .maincontent {
        float: left;
        padding: 10px;
        width: 66%;
        max-width: 800px;
    }
}
@media screen and (max-width: 1239px) {
    .sidebar {
        padding: 10px;
        max-width: 400px;
        margin: auto;
    }

    .maincontent {
        padding: 10px;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }

    body {
        width: 100%;
        max-width: 800px;
    }

    table.fancy {
        font-size: 75%;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    clear: both;
    border-bottom: solid #aaa 1px;
}

h1:target h2:target {
    padding-top: 50px;
}

table.fancy {
    margin: 0 auto;
    border-collapse:collapse;
    max-width: 1240px;
    width: auto;
}

table.fancy th, table.fancy td {
    padding:3px 7px 2px 7px;
    background-color: #eee;
}

table.fancy th, table.fancy tr.footer td {
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#666;
    color:#eee;
}

table.fancy .right, table.fancy tr.footer .right {
    text-align: right;
}

table.fancy th a {
    color: #eee
}

table.fancy tr.alt td {
    background-color:#ccc;
}

ul.img-list {
    padding: 0;
}

ul.img-list li {
    display: inline-block;
    position: relative;
}

ul.img-list img {
    border-radius: 15px;
}

span.text-content {
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
    color: white;
    display: table;
    font-size: 1.5em;
    height: 160px;
    left: -15px;
    position: absolute;
    top: -5px;
    width: 830px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

ul.img-list li:hover span.text-content {
    opacity: 1;
}

.button {
    border: 1px solid #666;
    border-radius: .5em;
    padding: .3em;
}

.button a {
    color: #111;
    text-decoration: none;
}

.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.depressed {
    box-shadow: 0px -1em 5px 0px rgba(0,0,0,0.08) inset;
}

.pressed {
    box-shadow: 0px 1em 10px 0px rgba(0,0,0,0.28) inset;
}
